<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>@ViewData["Title"] - Examen01</title>
    @await Html.PartialAsync("_HeaderPartial")
   
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:darkblue">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">GamersTownCR</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-page="">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Departamentos/Grid">Departamentos</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Titulos/Grid">Titulos</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Puestos/Grid">Puestos</a>

                    </li>
                    
                 
                </ul>
                <div class="d-flex">
                    <div class="dropdown dropstart">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarLoginUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Usuario
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Cerrar Sesion</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>



    @RenderBody()


    @await Html.PartialAsync("_ScriptsPartial")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
